@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Patua+One&display=swap');

:root {
    --primaryColor: #24A3FF;
    --primaryColorHover: #42b0ff;
    --cancelColor: red;
    --cancelColorHover: rgb(255, 50, 50); 
    --secondaryColor: white;
    --secondaryColor200: rgba(0, 0, 0, 0.2);
    --secondaryColor500: rgba(0, 0, 0, 0.5);
    --menuItemColor: rgb(80, 80, 80);
    --menuItemHoverColor: rgb(197, 197, 197);
    --newTaskButtonColor: rgba(0, 0, 0, 0.521);
    --displayFont: "Patua One", cursive;
    --mainFont: 'Noto Sans JP', sans-serif;
    --newProjectFormColor: rgb(228, 228, 228);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 8% 86% 6%;
}

#splash-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
}

#splash-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primaryColor);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: splashScreen 5s forwards;

}

#splash-text {
    color: var(--secondaryColor);
    font-family: var(--displayFont);
    font-size: 8rem;
}

@keyframes splashScreen {
    0% { background-color: var(--secondaryColor); };
    50% { background-color: var(--primaryColor); }
    80% { top: 0;}
    100% { top: 100%; }
}

body > header {
    background-color: var(--primaryColor);
    padding-left: 2rem;

    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    align-items: center;
}

header > #page-title {
    color: var(--secondaryColor);
    font-family: var(--displayFont);
    font-size: 2rem;
    cursor: default;
}

menu {
    grid-row-start: 2;
    grid-row-end: 4;

    background-color: var(--secondaryColor200);
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.menu-primaryStyle {
    background: none;
    border: none;
    width: 100%;
    color: var(--menuItemColor);
    font-size: 1.5rem;
    font-family: var(--displayFont);
    text-align: center;
    cursor: default;
}

.menu-secondaryStyle {

}

#general-tasks {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#general-tasks > li {
    list-style-type: none;
}

#general-tasks > li > button:hover {
    background: var(--menuItemHoverColor);
}

menu > hr {
    width: 100%;
}

.new-project-btn {
    width: 100%;
    background: none;
    border: none;
    border-radius: 5px;
    font-family: var(--mainFont);
    font-size: 1rem;
    color: var(--menuItemColor);
}

.new-project-btn:hover {
    /* background-color: var(--menuItemHoverColor); */
    color: var(--secondaryColor500);
}

.new-project-btn > span {
    display: inline-block;
    transition: transform 0.5s;
}

.rotate45 {
    transform: rotateZ(45deg);
}

.new-project-form {
    background-color: var(--newProjectFormColor);
    border-radius: 5px;
    margin: -0.5rem -1rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms, visibility 200ms;
}

.new-project-form.active {
    visibility: visible;
    opacity: 1;
}

.new-project-form > label {
    width: 100%;
}

.new-project-form > input {
    width: 100%;
    font-size: 1rem;
}

.new-project-form > button {
    width: 100%;
    font-family: var(--displayFont);
    color: var(--menuItemColor);
    border: none;
    background: none;
    border-radius: 50px;
}

.new-project-form > button:hover {
    background-color: var(--menuItemHoverColor);
}

.credits {
    margin-top: auto;
    color: var(--menuItemColor);
    font-family: var(--mainFont);
    text-decoration: none;
}

main {
    background-color: var(--secondaryColor);

    display: flex;
    flex-direction: column;
    align-items: center;
}

main > header {
    /* border: 1px solid black; */
    height: 150px;
    width: 90%;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 1rem;

    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

main > header > h1 {
    /* border: 1px solid black; */
    font-size: 4rem;
    font-family: var(--displayFont);
}

main > header > p {
    /* border: 1px solid black; */
    color: var(--secondaryColor500);
    font-size: 1.3rem;
    font-family: var(--mainFont);
}

main > header > button {
    border-radius: 2px;
    border: none;
    background: none;
    font-size: 2rem;
    font-family: var(--mainFont);
    margin-left: auto;
    margin-bottom: -0.5rem;
}

main > header > button:hover {
    color: var(--newTaskButtonColor);
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondaryColor500);
    z-index: -10;
    opacity: 0;

    transition: opacity 0.4s;
}

.modal-bg.active {
    z-index: 10;
    opacity: 1;
}

.new-task-modal {
    position: absolute;
    top: 0.01%;
    left: 70%;
    transform: scale(0) translate(-50%, -50%);
    background-color: var(--secondaryColor);
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem 4rem;
    z-index: 20;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    transition: top 0.4s, left 0.4s, transform 0.4s;
}

.new-task-modal.active {
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
}

#modal-title {
    font-size: 2.5rem;
    font-family: var(--displayFont);
    width: 100%;
}

#modal-title > hr {
    width: 100%;
}

#modal-form {
    /* border: 1px solid black; */
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#modal-input-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-input {
    width: 100%;
}

.modal-input > label {
    font-family: var(--displayFont);
    color: var(--secondaryColor500);
    display: block;
}

.label-style {
    font-family: var(--displayFont);
    color: var(--secondaryColor500);
    display: block;
}

.modal-input > input {
    height: 2.5rem;
    font-size: 1.3rem;
}

.input-style {
    padding: 0px 10px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    font-family: var(--mainFont);
}

.modal-input > input:focus {
    border: none;
    outline: 2px solid var(--primaryColor);
}


#task-input > input {
    width: 100%;
}

#date-input > input {
    width: 50%;
}

#modal-form > #button-container {
    /* border: 1px solid black; */
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#button-container > button {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2rem;
    font-family: var(--displayFont);
    color: var(--secondaryColor);
}

#button-container > #cancel-btn:hover {
    background-color: var(--cancelColorHover);
}

#button-container > #cancel-btn, #button-container > #cancel-btn:active {
    background-color: var(--cancelColor);
}

#button-container > #add-btn:hover {
    background-color: var(--primaryColorHover);
}

#button-container > #add-btn, #button-container > #add-btn:active {
    background-color: var(--primaryColor);
}

main > hr {
    width: 90%;
}

main > ul {
    /* border: 1px solid black; */
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    overflow: auto;

    /* these styles only apply when display is set to flex*/
    justify-content: center;
    align-items: center;
}

main > ul > #empty-task-text {
    color: var(--secondaryColor500);
    font-family: var(--mainFont);
    font-size: 2rem;
}

main > ul > li {
    /* border: 1px solid black; */

    font-size: 1.3rem;
    font-family: var(--mainFont);
    list-style-type: none;
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
}

.green-text {
    color: green;

}

.red-text {
    color: red

}

main > ul > li > p {
    margin-left: auto;
}

main > ul > li > button {
    /* border: 1px solid black; */

    margin-left: 1rem;
    height: 2rem;
    width: 30px;
    border: none;
    background: none;

    background-image: url("assets/closed-trashcan.svg");
    background-size: 1.3rem;
    background-repeat: no-repeat;
    background-position: center;

}

main > ul > li > button:hover {
    background-image: url("assets/opened-trashcan.svg");
}

input[type=checkbox] {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.5rem;
}

footer {
    /* border: 1px solid black; */
    background-color: var(--secondaryColor);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: var(--secondaryColor500);
    font-family: var(--displayFont);
    font-size: 1.5rem;
}

footer > p > a {
    text-decoration: none;
    color: inherit;
}

#github-container {
    position: absolute;
    right: 1.2rem;
}

#github-container > a > img {
    width: 35px;
}
